@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-track {
  background: var(--green-dark);
  border-radius: 4px;
}

.allInfo-box {
  display: grid;
  gap: var(--size-normal);

  width: 100%;
}

.allInfo__title {
  padding-bottom: calc((var(--size-small) * 41.666)/100); /*10px*/
  border-bottom: calc((var(--size-small) * 20.833)/100) solid var(--green); /*5px*/

  display: flex;
  align-items: baseline;
  gap: var(--tiny-text);

  font-size: var(--size-big);
  font-weight: 400;
  max-height: calc((var(--size-big) * 166.666)/100); /*100px*/
}

.allInfo__name {
  overflow: auto;
  padding-right: calc((var(--size-small) * 41.666)/100); /*10px*/
  
  width: 100%;
  height: 90%;
}

.allInfo__flag {
  font-family: 'NotoColorEmojiLimited', -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 
  'Segoe UI Emoji', 'Segoe UI Symbol';
}

.allInfo__content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.allInfo__block {
  display: flex;
  align-items: center;
  gap: calc((var(--size-small) * 41.666)/100); /*10px*/

  font-size: var(--size-small);
}

.allInfo__prop {
  padding: calc((var(--size-small) * 20.8333)/100) calc((var(--size-small) * 41.666)/100); /*2px 10px*/
  border-radius: 10px;

  background: var(--green-dark);
  color: var(--green);
}

.allInfo__capital {
  overflow: auto;
  padding-right: var(--tiny-text);
  word-wrap: break-word;

  max-width: calc((var(--size-big) * 416.666)/100); /*250px*/
  height: calc((var(--size-normal) * 75)/100); /*30px*/
}

.allInfo__text--small {
  font-size: var(--tiny-text);
}

.allInfo__icon {
  font-size: var(--size-normal);
  color: var(--green-dark);
}

.allInfo__list-box {
  position: relative;
  padding: calc((var(--size-normal) * 75)/100); /*30px*/
  padding-top: var(--size-normal); /*40px*/
  border: calc((var(--size-small) * 20.833)/100) solid var(--green); /*5px*/
  border-radius: var(--tiny-text); /*20px*/
}

.allInfo__subTitle {
  position: absolute;
  padding: 0 calc((var(--size-small) * 20.833)/100); /*5px*/
  top: calc((var(--size-normal) * -75)/100); /*-30px*/
  left: var(--tiny-text); /*20px*/

  font-size: var(--size-normal);
  font-weight: 400;

  background: var(--black);
  color: var(--green);
}

.allInfo__list {
  overflow: auto;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: var(--tiny-text); /*20px*/

  font-size: var(--size-small);
  max-height: calc((var(--size-big) * 300)/100); /*180px*/
}

.allInfo__item {
  display: flex;
  align-items: center;
  gap: calc((var(--size-small) * 41.666)/100); /*10px*/
}

.allInfo__item::before {
  content: '';
  border-radius: 100%;
  
  width: var(--list-item-size);
  height: var(--list-item-size);

  background: var(--green);
}