@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --black: #191A19;
  --white: #EAEAEA;
  --gray: #757575;
  --green-dark: #1E5128;
  --green: #4E9F3D;
  --green-light: #D8E9A8;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 6.25%;
}

body {
  display: grid;
  place-items: center;

  width: 100%;
  height: 100vh;

  background:  var(--black);
  color: var(--white);

  font-family: 'Varela Round', sans-serif;
  font-size: 36rem;
}

#root {
  /* overflow: hidden; */
  display: grid;
  place-items: center;

  width: 550px;

  gap: 60px;
}