.github-bg {
  position: absolute;
  top: 0;
  right: 0;

  width: 0;
  height: 0;

  border-right: var(--git-weight) solid var(--green); /*100px*/
  border-top: var(--git-height) solid var(--green); /*75px*/
  border-left: var(--git-weight) solid transparent; /*100px*/
  border-bottom: var(--git-height) solid transparent; /*75px*/
}

.github__icon {
  position: absolute;
  bottom: calc((var(--git-height) * -26.666)/100); /*-20px*/
  left: calc((var(--git-weight) * 15)/100); /*15px*/

  font-size: var(--size-big);
  color: var(--green-dark);
}

.github__icon:hover {
  color: var(--black);
  transition: ease-out 300ms;
}
