:root {
  --primary-color: var(--green);
  --secondary-color: var(--green-dark);
  --init-position: 10px;
}

.results__list {
  overflow-y: auto;
  padding: 0 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  max-height: 480px;
}

.results__list::-webkit-scrollbar {
  width: 8px;
}

.results__list::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 4px;
}

.results__list::-webkit-scrollbar-track {
  background: var(--green-dark);
  border-radius: 4px;
}

.results__item:nth-child(even){
  --primary-color: var(--green-dark);
  --secondary-color: var(--green);
  --init-position: 8px;
}

.results__item {
  user-select: none;
  padding: 8px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 60px;

  background: var(--primary-color);
  animation: scroll ease-in-out 500ms;
}

.results__content {
  display: flex;
  align-items: center;

  font-size: 24rem;
  height: 80%;
}

.results__content--left {
  overflow: hidden;
  flex-wrap: wrap;
  row-gap: 10px;

  max-width: 220px;
}        

.results__content--right {
  gap: 25px;
}

.results__block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  font-size: 20rem;
}

.results__icon {
  font-size: 40rem;
  color: var(--secondary-color);
}

.results__btn {
  padding: 4px 8px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;

  background: transparent;
  color: var(--secondary-color);
  
  font-family: 'Varela Round', sans-serif;
  font-size: 14rem;
}

.results__btn:hover {
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--primary-color);
}

@keyframes scroll {
  0% {transform: translateY(var(--init-position));}
  100%{transform: translateY(0);}
}
