:root {
  --primary-color: var(--green);
  --secondary-color: var(--green-dark);
  --init-position: calc((var(--size-small) * 41.666)/100); /*10px*/
}

.results__list {
  overflow-y: auto;
  padding: 0 calc((var(--size-small) * 62.5)/100); /*15px*/

  display: flex;
  flex-direction: column;
  gap: calc((var(--size-small) * 41.666)/100); /*10px*/

  width: 100%;
  max-height: calc((var(--size-big) * 800)/100); /*480px*/
}

.results__list::-webkit-scrollbar {
  width: calc((var(--size-small) * 33.333)/100); /*8px*/
}

.results__list::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 4px;
}

.results__list::-webkit-scrollbar-track {
  background: var(--green-dark);
  border-radius: 4px;
}

.results__item:nth-child(even){
  --primary-color: var(--green-dark);
  --secondary-color: var(--green);
  --init-position: calc((var(--size-small) * 33.333)/100); /*8px*/
}

.results__item {
  user-select: none;
  padding: calc((var(--size-small) * 33.333)/100) calc((var(--size-small) * 62.5)/100); /*8px 15px*/

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: var(--size-big);

  background: var(--primary-color);
  animation: scroll ease-in-out 500ms;
}

.results__content {
  display: flex;
  align-items: center;

  font-size: var(--size-small);
  height: 85%;
}

.results__content--left {
  overflow: hidden;
  flex-wrap: wrap;
  row-gap: calc((var(--size-small) * 41.666)/100); /*10px*/

  max-width: calc((var(--size-big) * 366.666)/100); /*220px*/
}        

.results__content--right {
  gap: var(--size-small);
}

.results__block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc((var(--size-small) * 20.833)/100); /*5px*/

  font-size: var(--tiny-text);
}

.results__icon {
  font-size: var(--size-normal);
  color: var(--secondary-color);
}

.results__btn--small {
  display: none;
}

.results__btn {
  padding: calc((var(--size-small) * 20.833)/100) calc((var(--size-small) * 33.333)/100); /*5px 8px*/
  border: 1px solid var(--secondary-color);
  border-radius: 4px;

  background: transparent;
  color: var(--secondary-color);
  
  font-family: 'Varela Round', sans-serif;
  font-size: var(--btn-text-size);
}

.results__btn:hover {
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--primary-color);
}

@keyframes scroll {
  0% {transform: translateY(var(--init-position));}
  100%{transform: translateY(0);}
}
