.search-bg {
  padding-bottom: calc((var(--size-small) * 41.666)/100); /*10px*/

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  width: 100%;
  height: var(--size-big);

  border-bottom: calc((var(--size-small) * 20.833)/100) solid var(--green); /*5px*/
}

.search__input {
  all: unset;
  padding:0 var(--tiny-text); /*20px*/
  background: transparent;
  font-size: var(--size);
}

.search__icon {
  color: var(--green);
}