.search-bg {
  padding-bottom: 10px;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  width: 100%;
  height: 60px;

  border-bottom: 5px solid var(--green);
}

.search__input {
  all: unset;
  padding:0 20px;
  background: transparent;
  font-size: 36px;
}

.search__icon {
  color: var(--green);
}